.inquiry-form-section{
    padding: 60px 0 100px;
    h3{
        font-weight: $font-semibold;
        font-size: 28px;
        line-height: 38px;
        color: $theme-pink;
        margin: 0 0 20px;
    }
    input{
        border: 1px solid rgba(174, 174, 174, 0.2);
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
        line-height: 16px;
        color: $text-color;
        margin-bottom: 20px;
        padding: 10px 20px;
        height: 42px;
        width: 100%;
        &::placeholder{
            color: #AEAEAE;
        }
        &:focus{
            box-shadow: none;
            outline: none;
            border: 1px solid $text-color;
        }
    }
    textarea{
        border: 1px solid rgba(174, 174, 174, 0.2);
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
        line-height: 16px;
        color: $text-color;
        height: 140px;
        padding: 10px 20px;
        resize: none;
        margin-bottom: 20px;
        &::placeholder{
            color: #AEAEAE;
        }
        &:focus{
            box-shadow: none;
            outline: none;
            border: 1px solid $text-color;
        }
    }
    .submit{
        background: linear-gradient(270deg, #F0562D 0%, #EE3272 100%);
        border-radius: 16px;
        font-size: 20px;
        font-weight: $font-bold;
        line-height: 30px;
        text-transform: capitalize;
        color: $white;
        height: 54px;
        width: auto;
        padding: 10px 30px;
    }
    .main-row{
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(27, 43, 124, 0.15);
        border-radius: 16px;
        margin: 0;
    }
    .form-block{
           padding: 50px;
    }
    .info-block{
        background: url(../img/contact-us-page/contact-main-bg.jpg) no-repeat center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        padding: 50px 50px;
        border-radius: 0 16px 16px 0;
        h3{
            color: $white;
        }
        .address-list{
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 20px;
                .img-blk{
                    width: 13%;
                }
                .content-blk{
                    width: 88%;
                }
                p{
                    color: $white;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 0;
                }
                a{
                    color: $white; 
                }
            }
        }
        .social-media-block{
            li{
                display: inline-block;
                a{
                    font-size: 20px;
                    color: $white;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $white;
                    background: $theme-gradient;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
        .bottom-title{
            padding-top: 50px;
        }
        
    }
}

@media (max-width: $extra-small-laptop) {
    .inquiry-form-section {
        .info-block {
            padding: 40px 20px;
            .bottom-title{
                padding-top: 0;
            }
            .address-list {
                li {
                    .img-blk{
                        width: 18%;
                    }
                }
            }
        }
    }
}

@media (max-width: $ipad-landscape) {
    .inquiry-form-section {
        .form-block{
            padding: 20px;
        }
    }
}

@media (max-width: $ipad-portrait) {
    .inquiry-form-section {
        .info-block {
            border-radius: 0 0 16px 16px;
            .address-list {
                li {
                    .img-blk{
                        width: 10%;
                    }
                }
            }
        }
    }
}

@media (max-width: $large-mobile) {
    .inquiry-form-section {
        .info-block {
            .social-media-block {
                li {
                    a{
                        margin: 0 5px 10px 0;
                    }
                }
            }
            .address-list {
                li {
                    .img-blk{
                        width: 23%;
                    }
                }
            }
        }
        .submit{
            width: 100%;
            font-size: 18px;
            padding: 10px 20px;
        }
    }
}