.latest_case_study {
    padding: 50px 0px;
    position: relative;
    overflow-x: hidden;
    .custom-title {
        position: relative;
        span {
            font-family: 'Roboto Slab';
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #1B2B7C;
            margin-bottom: 15px;
            display: block;
            &::before {
                content: '';
                width: 6%;
                height: 2px;
                background-color: #1B2B7C;
                position: absolute;
                left: 0;
                right: 0;
                top: -10px;
                margin: 0 auto;
            }
        }
        h3 {
            font-family: 'Roboto Slab';
            font-weight: 700;
            font-size: 52px;
            line-height: 62px;
            text-transform: capitalize;
            color: #EE3F59;
            margin: 0;
        }
    }  
    
    .latest_case_study_carousel {
        position: relative;
        padding: 0px 0px 0px 135px;
        .card {
            max-width: 620px;
            border: none;
        }
        .bg-pink {
            background: #EE3F59;
            border-radius: 20px;
        }
        .bg-blue {
            background: #1B2B7C;
            border-radius: 20px;
        }
        .bg-yellow {
            background: #E59E33;
            border-radius: 20px;
        }
        .bg-light-orange {
            background: #F68E77;
            border-radius: 20px;
        }
        .bg-light-green {
            background: #7EB47D;
            border-radius: 20px;
        }
        .bg-light-sky {
            background: #339AE6;
            border-radius: 20px;
        }

        .card-body {
            max-height: 385px;
            overflow: hidden;
        }
        .latest-case-description{
            h5 {
                font-family: 'Roboto Slab';
                font-weight: 800;
                font-size: 28px;
                line-height: 52px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #FFFFFF;
            }
            p {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
            }
            .number-box {
                font-family: 'Roboto Slab';
                font-weight: 800;
                font-size: 80px;
                line-height: 90px;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: rgba(255, 255, 255, 0.1);
            }
        }
        .owl-dots {
            position: absolute;
            right: 10%;
            top: -15%;
            .owl-dot {
                span {
                    width: 18px;
                    height: 18px;
                    margin: 5px 7px;
                    background: #FEEEEF;
                    display: block;
                    transition: opacity .2s ease;
                    border-radius: 30px;
                    border: 2px solid #EE3F59;
                }
                &.active {
                    span {
                        background: linear-gradient(180deg, #EE3F59 0%, #F0562D 100%);
                        border: 2px solid #F0562D;
                    }
                }
                &:hover {
                    span {
                        background: linear-gradient(180deg, #EE3F59 0%, #F0562D 100%);
                        border: 2px solid #F0562D;
                    }
                }
            }
        }
    }
    
}

@media (max-width: $large-laptop) {
    .latest_case_study {
        .custom-title {
            h3{
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}

@media (max-width: $laptop) {
    .latest_case_study {
        .latest_case_study_carousel {
            padding: 0px 0px 0px 100px;
            .latest-case-description {
                p {
                    font-size: 16px;
                    line-height: 25px;
                }
                .number-box {
                    font-size: 65px;
                }
            }
            .card-body {
                max-height: 320px;
            }
        }
    }    
}

@media (max-width: $ipad-pro) {
    .latest_case_study {
        .custom-title {
            h3{
                font-size: 34px;
                line-height: 45px;
            }
        }
    }
}

@media (max-width: $extra-small-laptop) {
    .latest_case_study {
        .latest_case_study_carousel {
            .latest-case-description {
                .number-box {
                    font-size: 55px;
                }
            }
            .card-body {
                max-height: 320px;
            }
        }
    }    
}

@media (max-width: $ipad-landscape) {
    .latest_case_study {
        .latest_case_study_carousel {
            padding: 0px 0px 0px 60px;
            .latest-case-description {
                p {
                    font-size: 14px;
                    line-height: 25px;
                }
                .number-box {
                    font-size: 45px;
                }
                h5 {
                    font-size: 25px;
                    line-height: 30px;
                }
            }
            .card-body {
                max-height: 284px;
            }
        }
    }       
}

@media (max-width: $ipad-portrait) {
    .latest_case_study {
        padding: 100px 0px;
        .custom-title {
            span {
                &::before {
                    width: 25%;
                }
            }
            h3 {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .latest_case_study_carousel {
            position: relative;
            padding: 0px 0px 0px 50px;
            .owl-dots {
                top: -50px;
            }
            .card-body {
                max-height: 320px;
                overflow: hidden;
            }
        }
    }    
}

@media (max-width: $small-mobile) {
    .latest_case_study {
        padding: 70px 0px 0;
        .custom-title {
            span {
                &::before {
                    width: 25%;
                }
            }
            h3 {
                font-size: 30px;
                line-height: 40px;
            }
        }
        .latest_case_study_carousel {
            position: relative;
            padding: 0px 10px 0px 10px;
            .owl-dots {
                top: -50px;
            }
            .card-body {
                max-height: 320px;
                overflow: hidden;
            }
            .latest-case-description {
                .number-box {
                    display: none;
                }
            }
        }
    }    
}