.opportunity-section{
    padding: 100px 0 0;
    .first-text{
        margin-bottom: 40px;
    }
    img{
        width: auto;
        height: auto;
        margin-bottom: 30px;
    }
    .listing-ul{
        display: flex;
        justify-content: space-between;

        li{
            width: 31%;
            transition: all 0.5s;
            &:nth-child(2){
                width: 34.5%;
            }
            .list-card{
                position: relative;
                transition: all 0.5s;
                .content-blk{
                    position: absolute;
                    bottom: 50px;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(20px);
                    border-radius: 8px;
                    margin: 20px 20px 0;
                    padding: 20px 20px;
                    // transform: translateY(40px);
                    transition: all 0.5s ease-in-out;
                    max-height: 70px;
                    overflow: hidden;
                    h4{
                        font-size: 28px;
                        line-height: 34px;
                        text-transform: capitalize;
                        color: $white;
                    }
                    p{
                        color: $white;
                        font-size: 16px;
                        line-height: 26px;
                        margin: 0;
                        transition: all 0.5s ease-in-out;
                        transform: translateY(140px);
                     }
                }
                &:hover{
                    .content-blk{
                        transform: translateY(0);
                        max-height: 100%;
                        p{
                            opacity: 1;
                            transition: all 0.5s ease-in-out;
                            transform: translateY(0);
                        }
                    }
                    
                }
            }

        }
    }
}

@media (max-width: $large-laptop) {
    .opportunity-section {
        .listing-ul {
            li {
                .list-card {
                    .content-blk {
                        h4{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $ipad-pro) {
    .opportunity-section {
        .listing-ul {
            li {
                .list-card {
                    .content-blk {
                        h4{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $extra-small-laptop) {
    .opportunity-section {
        .listing-ul {
            li {
                .list-card {
                    .content-blk {
                        h4{
                            font-size: 18px;
                        }
                        p{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3; /* number of lines to show */
                                    line-clamp: 3; 
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $ipad-portrait) {
    .opportunity-section {
        .listing-ul {
            display: block;
            li{
                width: 100%;
                img{
                    width: 100%;
                }
                &:nth-child(2){
                    width: 100%;
                }
            }
        }
    }
}
