.our-journey-section{
    padding: 100px 0;   
    overflow-x: hidden;
    .journey-card{
        margin: 140px 0 0;
        text-align: center;
        .content-blk{
            background: #FFFFFF;
            box-shadow: 0px 8px 16px rgba(27, 43, 124, 0.15);
            border-radius: 16px;
            padding: 30px 30px;
            text-align: left;
            max-width: 88%;
            margin: 0 auto;
            h4{
                font-size: 24px;
                color: $theme-pink;
                padding-bottom: 10px;
            }
            p{
                margin: 0;
            }
        }
        .year-text{
            span{
                height: 100px;
                width: 100px;
                background: $theme-blue;
                color: $white;
                font-size: 24px;
                font-family: 'Roboto Slab';
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0 auto 60px;
            }
        }
        img{
            position: relative;
            z-index: 2;
            width: auto;
            display: inline-block;
        }
    }
    .even-card{
        margin-top: 2px;
        .year-text {
            span{
                margin: 60px auto 0;
                background: $theme-pink;
            }
        }
        .content-blk {
            h4{
                color: $theme-blue;
            }
        }
    }
    .our-journey-carousel{
        margin-left: 150px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 2px;
            width: 100%;
            background: #1B2B7C;
        }
        &:before{
            content: "";
            position: absolute;
            top: 46.4%;
            left: -20px;
            height: 73px;
            width: 73px;
            background: url(../img/about-us-page/ellipse-left.svg) no-repeat;
            z-index: 3;
        }
    }
    .owl-stage-outer{
        padding: 50px 0;
        z-index: 2;
    }
    
}




@media (max-width: 1600px) {
    .our-journey-section {
        .journey-card{
            margin: 170px 0 0;
            &.even-card{
                margin: 0;
            }
        }
    }
}

@media (max-width: $laptop) {
    .our-journey-section {
        .our-journey-carousel{
            margin-left: 100px;
            &:before{
                top: 46.8%;
            }
        }
        .journey-card{
            margin: 195px 0 0;
            &.even-card{
                margin: 0;
            }
        }
    }
}

@media (max-width: $ipad-pro) {
    .our-journey-section {
        .journey-card{
            margin: 250px 0 0;
        }
        .our-journey-carousel{
            &:before{
                top: 47.3%;
            }
        }
    }
}

@media (max-width: $extra-small-laptop) {
    .our-journey-section {
        .journey-card{
            margin: 278px 0 0;
        }
        .our-journey-carousel{
            &:before{
                top: 47.3%;
            }
        }
    }
}


@media (max-width: $ipad-landscape) {
    .our-journey-section {
        .journey-card{
            margin: 195px 0 0;
        }
        .our-journey-carousel{
            &:before{
                top: 46.7%;
            }
        }
    }
}

@media (max-width: $ipad-air-portrait) {
    .our-journey-section {
        .journey-card{
            margin: 170px 0 0;
        }
    }
}

@media (max-width: $ipad-portrait) {
    .our-journey-section {
        .journey-card{
            margin: 195px 0 0;
        }
    }
}

@media (max-width: $large-mobile) {
    .our-journey-section {
        .our-journey-carousel{
            margin-left: 30px;
        }
    }
}